In [2]:
import pandas as pd

In [3]:
import random as re

In [4]:
customers = pd.read_csv(r"C:\Users\Manish\Downloads\us_customer_data 1.csv")

In [5]:
def generate_phone():
    return f"+91{re.randint(7000000000, 9999999999)}"

In [6]:
customers['phone'] = customers['phone'].fillna(value=pd.Series([generate_phone() for _ in range(len(customers))]))

In [7]:
customers['phone'] = customers['phone'].str.replace('-', '', regex=False)

In [8]:
customers['phone']='+91-'+customers['phone']

In [9]:
customers["name"] = customers["name"].astype(str).str.strip().str.title()

In [10]:
customers[["First Name", "Last Name"]] = customers["name"].str.split(n=1, expand=True)

In [11]:
customers['email']= customers['email'].fillna((customers['First Name'] + customers['Last Name']).str.lower() +'@example.com')

In [12]:
transactions = pd.read_csv(r"C:\Users\Manish\Downloads\transaction_data.csv")

In [13]:
df=pd.merge(customers,transactions,on="customer_id",how='inner')

In [14]:
df= df.dropna(subset=['amount'])

In [23]:
df = df[df['amount']> 1000]

In [29]:
tf = df.groupby(['customer_id','phone'],as_index=False).first()

In [30]:
print(tf)

     customer_id           phone              name  \
0              1  +91-6197234258     Michelle Kidd
1              4  +91-4232229779    Kimberly Price
2              5  +91-2207633522  Matthew Phillips
3              7  +91-1988627105      Louis Miller
4             10  +91-4107299740      Rachel White
..           ...             ...               ...
552          988  +91-6107359149     Johnny Ingram
553          989  +91-3467527871     John Mcknight
554          991  +91-6264536078     Erica Fleming
555          992  +91-3854544879    Thomas Stevens
556          995  +91-5763204824    Deanna Johnson

                           email  \
0             vayala@example.net
1      jessicaknight@example.com
2          qwilliams@example.com
3    patriciaelliott@example.org
4       whitemichael@example.org
..                           ...
552       danielle96@example.com
553  gonzalezrebecca@example.org
554          erica85@example.net
555    vargasmatthew@example.org
556            ycook@example.org

                                               address registration_date  \
0                          USNS Santiago, FPO AE 80872        25-01-2025
1           1631 Alexis Meadows, Lake Amanda, CA 75179        08-12-2024
2    2274 Williams Heights Suite 895, Andersonhaven...        03-02-2024
3          02590 Marshall Well, Sheppardland, CT 88067        30-09-2024
4            6182 Brown Mountain, South Gary, IL 29016        25-02-2024
..                                                 ...               ...
552  4275 Davis Cliff Suite 804, South Larry, AZ 46557        04-03-2025
553          299 Chad Islands, Lake Emmafurt, NC 25996        26-09-2024
554       55648 Gilbert Square, Port Jessica, OR 63566        21-01-2025
555  8783 Joseph Stravenue Suite 016, Port Gabriell...        25-06-2024
556        601 Contreras Forges, Michaelfurt, KY 30733        01-11-2023

    loyalty_status First Name Last Name  transaction_id   amount  \
0             Gold   Michelle      Kidd               8  2652.57
1             Gold   Kimberly     Price             427  1787.09
2             Gold    Matthew  Phillips             452  1983.52
3             Gold      Louis    Miller             470  3241.66
4           Bronze     Rachel     White             173  3456.05
..             ...        ...       ...             ...      ...
552         Silver     Johnny    Ingram             342  1055.22
553         Silver       John  Mcknight             343  3791.70
554         Silver      Erica   Fleming             171  3346.40
555         Silver     Thomas   Stevens             352  3691.14
556         Silver     Deanna   Johnson              62  4299.69

        transaction_date product_category payment_method store_location
0    2025-04-19 14:46:00             Home    Credit Card       New York
1    2025-04-28 04:34:07           Beauty         PayPal        Chicago
2    2025-02-03 14:59:13           Sports         PayPal         Online
3    2025-05-15 15:17:05      Electronics         PayPal    Los Angeles
4    2025-04-15 19:26:48             Home     Debit Card         Online
..                   ...              ...            ...            ...
552  2025-05-07 05:06:22         Clothing         PayPal          Miami
553  2025-05-28 00:09:28         Clothing         PayPal        Chicago
554  2025-05-29 20:17:50         Clothing           Cash          Miami
555  2025-02-12 08:40:27           Sports     Debit Card       New York
556  2025-01-04 19:54:59      Electronics     Debit Card       New York

[557 rows x 15 columns]

In [31]:
tf.to_csv('thirrd.csv',index=False)