In [1]:
import pandas as pd

In [3]:
df=pd.read_csv(r"C:\Users\Manish\Downloads\us_customer_data 1.csv")

In [4]:
df.head()

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,619-723-4258,"USNS Santiago, FPO AE 80872",25-01-2025,Gold
1,2,Brad Newton,taylorcatherine@example.net,537-674-1158,"38783 Oliver Street, West Kristenborough, MT 9...",13-07-2023,Silver
2,3,Larry Torres,dsanchez@example.net,810-256-4505,"6845 Steele Turnpike, West Erikabury, UT 37487",18-08-2023,Bronze
3,4,Kimberly Price,jessicaknight@example.com,423-222-9779,"1631 Alexis Meadows, Lake Amanda, CA 75179",08-12-2024,Gold
4,5,Matthew Phillips,qwilliams@example.com,220-763-3522,"2274 Williams Heights Suite 895, Andersonhaven...",03-02-2024,Gold

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              950 non-null    object
 3   phone              984 non-null    object
 4   address            1000 non-null   object
 5   registration_date  1000 non-null   object
 6   loyalty_status     1000 non-null   object
dtypes: int64(1), object(6)
memory usage: 54.8+ KB

In [6]:
df.duplicated().sum()

np.int64(0)

In [7]:
df.isnull

<bound method DataFrame.isnull of      customer_id              name                        email         phone  \
0              1     Michelle Kidd           vayala@example.net  619-723-4258
1              2       Brad Newton  taylorcatherine@example.net  537-674-1158
2              3      Larry Torres         dsanchez@example.net  810-256-4505
3              4    Kimberly Price    jessicaknight@example.com  423-222-9779
4              5  Matthew Phillips        qwilliams@example.com  220-763-3522
..           ...               ...                          ...           ...
995          996    Jerry Mcdaniel       walkerlisa@example.net  638-989-9441
996          997      Jodi Simpson           eric24@example.org  483-625-2940
997          998     Crystal Brown         pshaffer@example.net  390-747-3088
998          999    Gregory Duarte    caitlindunlap@example.org  257-409-8196
999         1000       Jason Walls        michael42@example.com  692-333-6880

                                               address registration_date  \
0                          USNS Santiago, FPO AE 80872        25-01-2025
1    38783 Oliver Street, West Kristenborough, MT 9...        13-07-2023
2       6845 Steele Turnpike, West Erikabury, UT 37487        18-08-2023
3           1631 Alexis Meadows, Lake Amanda, CA 75179        08-12-2024
4    2274 Williams Heights Suite 895, Andersonhaven...        03-02-2024
..                                                 ...               ...
995           34746 Smith Gateway, New Sarah, AS 12715        10-02-2025
996  2876 Tucker Road Suite 947, North Tommyborough...        18-04-2024
997  095 Janice Forest Suite 570, Boltonmouth, DE 7...        30-08-2024
998                   Unit 6377 Box 7662, DPO AP 03300        16-05-2024
999             95002 Bruce Rue, Camachoport, MH 58723        10-12-2024

    loyalty_status
0             Gold
1           Silver
2           Bronze
3             Gold
4             Gold
..             ...
995         Silver
996         Bronze
997         Bronze
998           Gold
999         Bronze

[1000 rows x 7 columns]>

In [8]:
print(df.isnull().sum())

customer_id           0
name                  0
email                50
phone                16
address               0
registration_date     0
loyalty_status        0
dtype: int64

In [9]:
df['email'] = df['email'].fillna('manisha@example.com ')

In [10]:
df['phone']= df['phone'].fillna('123456789')